beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2020.6.20
charset-normalizer==2.0.12
colorama==0.4.5
dnspython==2.2.1
eventlet==0.33.3
greenlet==2.0.2
idna==3.4
importlib-resources==5.4.0
jieba==0.42.1
joblib==1.1.0
numpy==1.19.5
requests==2.27.1
requests-toolbelt==1.0.0
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
sklearn==0.0
soupsieve==2.3.2.post1
sseclient==0.0.27
threadpoolctl==3.1.0
tqdm==4.64.1
urllib3==1.26.15
wincertstore==0.2
zipp==3.6.0
